<div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid"><!--Extended Table starts-->          
          <div class="row match-height">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-warning">
                    <h4 class="card-title" id="basic-layout-form-center">Update Book</h4>
                  </div>
                  
                </div>
                <div class="card-body">
                  <div class="px-3">
                    <form [formGroup]="prodForm" (ngSubmit)="onSubmit()">
                      <div class="row justify-content-md-center">
                        <div class="col-md-6">
                          <div class="form-body">
  
                            <div class="form-group">
                              <label for="eventInput1"> name </label>
                              <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                  <div *ngIf="f.name.errors.required">name is required</div>
                              </div>
                            </div>
                            
                            <div class="form-group">
                              <label for="eventInput1"> author</label>
                              <input type="text" formControlName="author" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.author.errors }" />
                              <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
                                  <div *ngIf="f.author.errors.required">author is required</div>
                              </div>
                            </div>
  
                            <div class="form-group">
                              <label for="eventInput2">price</label>
                              <input type="text" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                              <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                                  <div *ngIf="f.price.errors.required">price is required</div>
                              </div>
                            </div>
  
                            <div class="form-group">
                              <label for="eventInput3">about</label>
                              <input type="text" formControlName="about" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.about.errors }" />
                              <div *ngIf="submitted && f.about.errors" class="invalid-feedback">
                                  <div *ngIf="f.about.errors.required">about is required</div>
                              </div>
                            </div>
  
                        
                          </div>
                        </div>
                      </div>
  
                      <div class="form-actions center">
                        <a [routerLink]="['/']" class="btn btn-danger mr-1">
                          <i class="icon-trash"></i> Back
                        </a>
                        <button class="btn btn-success mr-1">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  